<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="center-box">
  <h3 class="text-center mt-5">フード投稿編集</h3>

  <%= render 'form' %>
  <%= link_to '戻る', posts_path %>
</div>

<br>
<br>
<br>
<br>
<br>