<% if @post.errors.any? %>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
    <li>
      <%= msg %>
    </li>
    <% end %>
  </ul>
<% end %>

<div class="center-box">
  <h3 class="text-center mt-5">新規フード投稿</h3>

  <%= render 'form', post: @post %><br>
  <%= link_to '戻る', posts_path %>
</div>