// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit_delete {
  margin-left: -2%;
}

.hr {
  color: black;
}

.box11{
  padding: 0.5em 1em;
  margin-left: -5.5%;
  // margin: 2em 0;
  color: #5d627b;
  background: white;
  border: solid 5px #535454;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
}